@tailwind base;
@tailwind components;
@tailwind utilities;

/* Menu styles */

.menu-element {
  @apply flex flex-col justify-center items-center h-20 px-2 md:px-4 text-xl hover:shadow-inner hover:bg-gray-100 transition duration-100;
}

.menu-element-new-adverst {
  @apply lg:px-7 text-green-600 text-2xl lg:border-r lg:border-l border-gray-200;
}

/* Home and AdvertsResults styles */

.search-input {
  @apply h-8 lg:h-12 text-gray-700 font-light text-lg sm:text-xl lg:text-3xl focus:outline-none focus:bg-gray-100;
}

.banner-background {
  background-color: #058760;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23ffffff' fill-opacity='0.1'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

/* Login and Register styles */

.login-register-input {
  @apply w-full h-11 bg-white text-base text-gray-700 outline-none pl-12 pr-2 my-2 placeholder-gray-500 border border-gray-300 shadow-inner
  focus:shadow focus:border-green-600 transition duration-200 rounded;
}

.login-register-input-box {
  @apply mb-4 text-xs text-gray-500 font-bold relative;
}

.login-register-input-icon {
  @apply absolute border-r border-gray-200 left-2 bottom-4 py-1 pl-1 pr-2 text-green-600;
}

.validation-alert{
  @apply bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded absolute;
}

/* NewAdverst styles */

.new-adverst-main-box {
  @apply bg-green-600 rounded-xl p-7 mb-6;
}

.new-adverst-title {
  @apply text-white text-2xl font-semibold mb-5;
}

.new-adverst-data-box {
  @apply flex flex-col text-white mb-4;
}

.new-adverst-input, .filtering-input {
  @apply h-12 w-full md:w-4/5 bg-gray-100 text-lg text-gray-700 px-4 py-2;
}

/* SearchSorting styles */

.sortingElement {
  @apply h-12 bg-white text-gray-700 px-4 py-2 shadow-sm;
}

/* Dashboard and  UserProfile*/

.dashboardElements{
  @apply w-10/12 md:w-1/2 border-gray-300 text-gray-600 bg-white shadow;
}

.rateStars{
  @apply hover:text-yellow-400 duration-100 cursor-pointer mr-10 text-yellow-300;
}

/* buttons animation */
.buttonAnimationHover{
  @apply hover:opacity-80 duration-100;
}