@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul {
    @apply list-disc ml-5;
  }
  ol {
    @apply list-decimal ml-5;
  }
}

.rodo-div > h2 {
  @apply text-xl font-semibold mt-5;
}

.rodo-link {
  @apply text-green-500;
}

/* other */

body {
  background: #EEE;
}

body::-webkit-scrollbar {
  width: 0.7em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(58, 161, 123);
  outline: 1px solid rgb(112, 144, 115);
}

body::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
}

/* Menu styles */

.menu-element {
  @apply relative flex flex-col justify-center items-center h-20 px-2 md:px-4 text-xl hover:shadow-inner hover:bg-gray-100 transition duration-100;
}

.menu-element-new-auction {
  @apply lg:px-7 text-green-600 text-2xl lg:border-r lg:border-l border-gray-200;
}

/* Home, SearchInputs, Help styles */

.search-input {
  @apply h-8 lg:h-12 text-gray-700 font-light text-lg sm:text-xl lg:text-3xl focus:outline-none focus:bg-gray-100 px-1;
}

.banner-background {
  background-color: #058760;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23ffffff' fill-opacity='0.1'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

/* Login, Register, NewAdvert styles */

.login-register-input {
  @apply w-full h-11 bg-white text-base text-gray-700 outline-none pl-12 pr-2 my-2 placeholder-gray-500 border border-gray-300 shadow-inner
  focus:shadow focus:border-green-600 transition duration-200 rounded;
}

.login-register-input-box {
  @apply mb-4 text-xs text-gray-500 font-bold relative;
}

.login-register-input-icon {
  @apply absolute border-r border-gray-200 left-2 bottom-4 py-1 pl-1 pr-2 text-green-600;
}

.validation-alert{
  @apply bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded absolute;
}

/* NewAdverst styles */

.new-auction-main-box {
  @apply bg-green-600 rounded-xl shadow p-7 mb-6;
}

.new-auction-title {
  @apply text-white text-2xl font-semibold mb-5;
}

.new-auction-data-box {
  @apply flex flex-col text-white mb-4;
}

.new-auction-input, .filtering-input {
  @apply h-12 w-full md:w-4/5 bg-gray-100 text-lg text-gray-700 px-4 py-2;
}

.new-auction-button{
  @apply w-52 md:w-64 h-16 bg-green-600 text-white text-xl font-semibold flex justify-center items-center rounded-xl hover:bg-green-700 transition duration-150
}

/* SearchSorting styles */

.sortingElement {
  @apply h-12 bg-white text-gray-700 px-4 py-2 shadow-sm;
}

/* buttons animation */

.button-animation-hover{
  @apply hover:opacity-80 duration-100;
}

/* Chat styles */

.userMessage {
  @apply bg-gray-300 float-right rounded rounded-tr-none rounded-bl-xl mr-0;
}

/* change user info styles */
.change-user-info-button{
  @apply mt-2 px-3 py-2 xl:p-2 text-green-700 xl:w-64 font-medium text-sm md:text-base xl:text-lg text-center button-animation-hover cursor-pointer
}

.auction-textarea{
  overflow-x: hidden;
  overflow-y: scroll;
}

.auction-textarea::-webkit-scrollbar {
  display: none;
}

/* comment */
.comment-emote{
  @apply h-12 w-12 mt-1 p-1 rounded-full inline-block
}

/* dashboard */
.auction-comment-admin-button {
  @apply w-full xs:w-64 text-sm lg:text-base flex flex-row items-center justify-center text-white py-2 px-3 mt-2 shadow-md button-animation-hover;
}

.like-button-scale:hover{
  transform: scale(1.2);
}

.new-message-icon::after {
  content: "" !important;
  position: absolute;
  top: .5rem;
  right: .5rem;
  width: .8rem;
  height: .8rem;
  background: rgba(239, 68, 68);
  border-radius: 100%;
  box-shadow: .5px 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}